*,*::before,*::after{
    box-sizing: border-box;
}
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
/* 변수 지정 */
:root{
    --purple: #5B2386;
    --white: #FFFFFF;
    --yellow: #FCEE21;
}

body{
    font-family: 'GmarketSansMedium';
    background-color: var(--purple);
}
/* main */
#app{
    width: 780px;
    margin-top:194px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* 1만시간의 법칙 로고+시계이미지 */
.tit-timelaw{
    position: relative;
}
/*  로고 */
.tit-timelaw img:first-child{
    width: 564px;
    height: 112px;
}
/* 시계이미지 */
.tit-timelaw img:last-child{
    width: 261px;
    height: 265px;
    position: absolute;
    top:-73px;
    right: 250px;
    z-index: -1;
} 
/* 연습은 어제의 당신보다~ */
.img-txt{
    margin: 125px 0 78px 0;
}
/* 1만시간의 법칙 설명+따옴표 */
.tit-content{
    position: relative;
    margin-bottom: 102px;
}
/* 1만시간의 법칙 설명 */
.txt-desc{
    line-height: 30px;
    font-size: 18px;
    color: var(--white);
}
/* bold 표시부분 */
.tit-desc{
    font-size: 24px;
    font-family: 'GmarketSansBold';
}
/* 따옴표 */
.img-quotes{
    position: absolute;
    top: 15px;
    right: 145px;
    
}
/* 첫번째 폼 */
.cont-inp{
    position: relative;
    color: var(--white);
    font-size: 24px;

}
/* 첫번째 폼 첫줄 */
.txt-wannabe{
    padding-bottom: 38px;
}
/* 첫번째 폼 input 부분 */
.cont-inp input{
    text-align: center;
    width: 228px;
    height: 57px;
    border-radius: 7px;
    font-size:24px;
    margin: 0 17px;
    font-family: 'GmarketSansMedium';
}
/* 첫번째 폼 버튼 */
.btn-exc{
    background-color: var(--yellow);
    color: var(--purple);
    border-radius: 56px;
    width: 565px;
    height: 66px;
    padding: 21px 49px;
    font-size: 24px;
    font-family: 'GmarketSansBold';
    margin: 115px 0 147px 0;

}
/* 커서 아이콘 */
.cont-cursor{
    position: absolute;
    bottom: 130px;
    right: 40px;
}
/* 안보이게하기 */
.blind{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

/* 결과 */
.cont-result{
    text-align: center;
    color: var(--white);
    font-size: 24px;
    margin-bottom: 17px;
}
/* 결과 p태그 */
.cont-result p{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 결과 P태그 내 strong 태그 */
.cont-result strong{
    font-size:72px;
    font-family: 'GmarketSansBold';
    margin: 0 12px;
}
/* 결과 버튼 2개 div */
.result-btn{
    margin: 127px 0 136.36px 0;
}
/* 결과 */
.result-btn button{
    font-family: 'GmarketSansBold';
    color: var(--purple);
    border-radius: 56px;
    font-size:24px;
}
/* 훈련하러가기 버튼 */
.btn-go{
    width: 356px;
    height: 66px;
    margin-right: 18px;
    font-size: 24px;
    background-color: var(--yellow);
    color: var(--purple);
    border-radius: 56px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* 공유하기버튼 */
.btn-share{
    background-color: var(--white);
    width: 191px;
    height: 66px;
}
/* footer */
.cont-footer{
    text-align: center;
    margin: 0 auto;
    color: var(--white);
    font-family: 'Noto Sans KR';
}
/* footer의 이미지 */
.cont-footer img{
    width: 125px;
    height: 25px;
    margin-bottom: 20px;
}
/* footer의 p태그 */
.txt-footer{
    line-height: 17px;
    font-size: 12px;
    margin-bottom: 100px;
}
/* 화이팅 모달창 */
.cont-modal{
    position: fixed;
    top: 10%;
    left: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flow-root;
    font-family: 'GmarketSansMedium';
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}


/* 모달창의 모든 이미지 선택 */
.cont-modal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 모달창 내 타이틀 이미지 */
.modal-title{
    margin:50px 0 25px 0;
    font-size: 96px;
}
/* 모달창 내 서브타이틀 이미지 */
.modal-subtitle{
    font-size:36px;
}
/* 라이캣 */
.modal-lion{
    width: 433px;
    height: 337px;
    
}
/* 종료하고 훈련하러가기 btn */
.btn-exit{
    display: block;
    width: 508px;
    height: 66px;
    padding: 21px 49px;
    margin: 30px;
    font-size: 24px;
    background-color: var(--yellow);
    color: var(--purple);
    border-radius: 56px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: 'GmarketSansBold';

}
.hidden{
    display: none;
}

/* body 스크롤 방지용 */
.stop-scroll{
    height: 100%;
    overflow: hidden;
}

